<!DOCTYPE html>
<html>

  <title> Main </title>
  <head>
    <script src="scripts/scripts.js"></script>
    <meta name="google-signin-client_id" content="272016247378-ro1nqj9jb67a7v4kqumdpoobvse8jbnf.apps.googleusercontent.com">
  </head>
  <body>
    <h1> Main </h1>
    <p> This page is going to be the first page the users see </p>
    <a href="/views/login.html">login</a>
<!--     <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/scripts/scripts.js" type="text/javascript"></script> -->

  </body>


</html>


