<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../css/styles.css" rel="stylesheet">
  <script src="js/scripts.js"></script>
  <meta name="google-signin-client_id" content="272016247378-ro1nqj9jb67a7v4kqumdpoobvse8jbnf.apps.googleusercontent.com">
  <title>Smart Lock Login</title>
  <!-- Bootstrap core CSS-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../css/sb-admin.css" rel="stylesheet">
</head>

  <body class="bg-dark" onload="getLocks(); selectDashboard();">
    <div style="align-content: center">
      <h1 style="!important; color: #aaaaaa;"" align="center"> Select a lock to load: </h1>
      <ul id="locks-list" align="center" style="list-style-type: none; margin:20px; padding-bottom:30px;">
      </ul>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="js/scripts.js"></script>
  </body>
</html>
